---
import BaseLayout from "@components/base/BaseLayout.astro";
import DocCard from "@components/docs/Card.astro";
import type { DocsEntry } from "@/types";
import { Swiper, SwiperSlide } from 'swiper/react';
import 'swiper/css';
import 'swiper/css/navigation';
import { Navigation } from 'swiper/modules';

interface Props {
  collectionIndex: DocsEntry;
  entries: DocsEntry[];
}

const { entries } = Astro.props;
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <Swiper
        modules={[Navigation]}
        navigation
        spaceBetween={20}
        slidesPerView={1}
        breakpoints={{
          640: { slidesPerView: 2 },
          1024: { slidesPerView: 3 },
          1280: { slidesPerView: 4 },
        }}
      >
        {entries.map((entry) => (
          <SwiperSlide>
            <DocCard entry={entry} />
          </SwiperSlide>
        ))}
      </Swiper>
    </div>
  </section>
</BaseLayout>
