---
import BaseLayout from "@components/base/BaseLayout.astro";
import DocCard from "@components/docs/Card.astro";
import type { DocsEntry } from "@/types";

interface Props {
  collectionIndex: DocsEntry;
  entries: DocsEntry[];
}

const { entries } = Astro.props;

// Copiar el array y ordenar explícitamente por 'order'
const sortedEntries = [...entries].sort(
  (a, b) => Number(a.data.order ?? 0) - Number(b.data.order ?? 0)
);
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <!-- Contenedor flex centrado -->
      <div class="flex flex-wrap justify-center -m-2">
        {sortedEntries.map((entry) => (
          <div class="h-min p-2 md:w-1/2 lg:w-1/3">
            <DocCard entry={entry} />
          </div>
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
