---
import BaseLayout from "@components/base/BaseLayout.astro";
import DocCard from "@components/docs/Card.astro";
import type { DocsEntry } from "@/types";

interface Props {
  collectionIndex: DocsEntry;
  entries: DocsEntry[];
}

const { entries } = Astro.props;
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <!-- Carrusel con scroll -->
      <div class="flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4 scrollbar-hide">
        {entries.map((entry) => (
          <div class="min-w-[80%] sm:min-w-[50%] md:min-w-[33%] lg:min-w-[25%] snap-center">
            <DocCard entry={entry} />
          </div>
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
