---
import { plainify } from "@lib/textConverter";
import Footer from "@components/base/Footer.astro";
import Header from "@components/base/Header.astro";
import ObserverScript from "@components/base/ObserverScript.astro";
import "@/styles/main.scss";
import { ClientRouter } from "astro:transitions";
import Background from "@/components/base/Background.astro";
import { Tooltips } from "astro-tooltips";

// types for frontmatters
export interface Props {
  title?: string;
  description?: string | null;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

const { title, description, image, noindex, canonical } = Astro.props;

const siteTitle = "Isabel Mañero";
const siteDescription = "Astrogon is a simple and elegant Astro theme.";
const siteImage = "assets/las-olas-del-mar.png";
const siteAuthor = "Isabel Mañero (dev Reednel (Astrogon))";
const baseUrl = "";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon y meta tags -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/las-olas-del-mar.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/las-olas-del-mar.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/las-olas-del-mar.png" />

    <meta name="description" content={plainify(description ? description : siteDescription)} />
    <meta property="og:description" content={plainify(description ? description : siteDescription)} />
    <meta name="twitter:description" content={plainify(description ? description : siteDescription)} />

    <title>{plainify(title ? title : siteTitle)}</title>
    <meta name="author" content={siteAuthor} />
    {canonical && <link rel="canonical" href={canonical} />}
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    
    <!-- Otros meta y scripts omitidos por brevedad -->
    <ClientRouter fallback="swap" />
    <Tooltips interactive={false} delay={[333, 0]} />
  </head>
  <body>
    <Background />
    <Header />

    <!-- DESCRIPCIÓN VISIBLE -->
    {description && (
      <section class="container mx-auto my-4 p-4 text-gray-700 dark:text-gray-300">
        <p style="white-space: pre-wrap;">{description}</p>
      </section>
    )}

    <main id="main-content" class="flex-1">
      <slot/>
    </main>

    <Footer />
    <ObserverScript />
  </body>
</html>
