---
import ThemeSwitcher from "@components/base/ThemeSwitcher.astro";
import { IoSearch } from "react-icons/io5";

const { pathname } = Astro.url;

const stickyHeader = true;

const menu = [
  { name: "Sobre mí", url: "/about" },
  { name: "Proyectos", url: "/docs" },
  { name: "Contacto", url: "/authors" },
];
---

<header
  transition:persist
  class={`max-w-4xl mx-auto glass py-3 px-6 z-30 mb-4 lg:mt-4 lg:rounded-lg ${stickyHeader ? "sticky top-0" : ""}`}
>
  <nav class="flex flex-wrap items-center justify-between">
    <!-- Menú principal -->
    <ul class="flex flex-col sm:flex-row w-full sm:w-auto justify-around sm:justify-start space-y-2 sm:space-y-0 sm:space-x-6 text-center">
      {menu.map((item) => (
        <li>
          <a
            href={item.url}
            class={`block py-2 px-3 font-secondary font-semibold text-txt-p transition dark:text-darkmode-txt-p ${
              pathname === `${item.url}/` || pathname === item.url ? "active" : ""
            }`}
          >
            {item.name}
          </a>
        </li>
      ))}
    </ul>

    <!-- Icono de búsqueda y selector de tema -->
    <div class="mt-2 sm:mt-0 ml-0 sm:ml-4 flex items-center space-x-4">
      <a
        class="text-xl text-txt-p dark:text-darkmode-txt-p"
        href="/search"
        aria-label="search"
      >
        <IoSearch />
      </a>
      <ThemeSwitcher />
    </div>
  </nav>
</header>
